.App {
  text-align: center;
  color: rgb(46, 44, 44);
  border: 1px solid rgb(105, 95, 95);
  border-radius: 5px;
  background: white;
  margin: 2em 8em;
  padding: 0 1em;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}

